<div class="container-fluid">
  <div class="row">
    <h1 class="display4 mx-sm-3">Entrez votre code participant</h1>
  </div>
  <div class="row">
    <form class="form-inline w-100"
    [formGroup]="codePartictipantForm"
    (ngSubmit)="onSubmit()">

    <div class="form-group m-sm-3 col-sm-12 col-md-4">
      <!-- mb-2 col-sm-12 col-md-12 -->
      <input class="form-control w-100"
             type="text"
             formControlName="code">
    </div>

    <button type="button"
            class="btn btn-primary col-sm-10 col-md-3 m-3" >
            <!-- mx-3 col-sm-10 -->
            Enregistrer
  </button>





</form>
</div>
<div class="row">
  <p>{{message}}</p>
</div>
</div>
