<div class="container">
  <h6>Créer un Participant</h6>
  <div class="row">
    <!-- <form class="" [formGroup]="participantForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="code">code</label>
        <input type="text" class="form-control" name="code" formControlName="code">
      </div>
      <div class="form-group">
        <label for="nom">nom</label>
        <input type="text" class="form-control" name="nom" formControlName="nom">
      </div>
      <div class="form-group">
        <label for="nom">Prénom</label>
        <input type="text" class="form-control" name="nom" formControlName="prenom">
      </div>
      <button class="btn btn-" type="submit" name="button">Enregistrer</button>
    </form> -->
  </div>

</div>
