<div class="container">
  <h1 class="display-5">Créer un Participant</h1>
  <div class="row">
    <form class="col-sm-12 col-lg-8 col-xl-6" [formGroup]="participantForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="code">code</label>
        <input type="text" class="form-control" name="code" formControlName="code">
      </div>
      <div class="form-group">
        <label for="nom">nom</label>
        <input type="text" class="form-control" name="nom" formControlName="nom">
      </div>
      <div class="form-group">
        <label for="nom">Prénom</label>
        <input type="text" class="form-control" name="nom" formControlName="prenom">
      </div>
      <button class="btn btn-primary w-xs-100" type="submit" name="button">Enregistrer</button>
    </form>
  </div>

</div>
